arch/
nwjs/
node/
package.nw
cache/
tmp/
mew/
node_modules
test/mini-ci
crash-server
build
*.snap
*.AppImage
appimage-builder-cache
wcc.bin
wcsc.bin
temp.sh
.docker-config
# flatpak
.flatpak-builder
build-dir
__pycache__
.wine

.specstory
.specstory/
